* {
    box-sizing: border-box;
}

.imageContainer {
    display: flex;
    padding: 10px;
}

.image {
    display: flex;
    padding: 10px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

p {
    font-size: large;
    padding-left: 20px;
}