<app-nav-bar></app-nav-bar>

<div class="container">
    <div class="imageContainer">
        <img src="../assets/Jeff.jpg" height="200" width="300" />
    </div>
    <div class="imageContainer">
        <img src="../assets/Marissa.jpg" height="200" width="300" />
    </div>
    <div class="image">
        <img src="../assets/Mark.jpg" height="400" width="600 " />
    </div>
    <div class="imageContainer">
        <img src="../assets/satya.jpg" height="400" width="620 " />
    </div>
    <div class="image">
        <img src="../assets/sundhar.jpg" height="400" width="600 " />
    </div>
    <div class="image">
        <img src="../assets/Tim.jpg" height="400" width="620 " />
    </div>
</div>
<p>Made with <img src="../assets/img/prograd-heart.svg" alt="Love"> by </p>